{% extends 'learning_logs_app/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Log into your account</h2>
{% endblock page_header %}

{% block content %}

  <form class = 'form' action = "{% url 'users:login' %}" method = 'POST'>
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button class = 'btn btn-primary' name = 'submit'>Log in</button>
    {% endbuttons %}

    <input type = 'hidden' name = 'next' value = "{% url 'learning_logs_app:index' %}" />
  </form>

{% endblock content %}
