{% extends 'learning_logs_app/base.html' %}

{% block page_header %}
  <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <li>
        <h5>
          <a href = "{% url 'learning_logs_app:topic' topic.id %}">{{ topic }}</a>
	</h5>
      </li>
    {% empty %}
      <li>
        <h5>No topics have been created yet.</h5>
      </li>
    {% endfor %}
  </ul>

  <h5>
    <a href = "{% url 'learning_logs_app:new_topic' %}">Add a topic</a>
  </h5>
  <p>----<a href = "{% url 'learning_logs_app:new_entry_any' %}">Add en entry (of any topic)</a></p>
{% endblock content %}

<p>After the block</p>

